@model PAKTD.Models.MO.mPagamento
    @{
        ViewBag.Title = "cadastrar Funcionario";
        Layout = "~/Views/Dashboard/_Layout.cshtml";
    }
        <link href="~/Style/PagamentoStyle/Pag.css" rel="stylesheet" />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <h2>Cadastrar Pagamento</h2>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.DsPagamento, htmlAttributes: new { })
                @Html.EditorFor(model => model.DsPagamento, new { htmlAttributes = new { @class = " @class = form-control", @placeholder = "Digite o nome do pagamento" } })

                @Html.ValidationMessageFor(model => model.DsPagamento, "", new { @class = "text-danger" })

            </div>

          
            <!-- Botão de Envio -->
            <button type="submit" class="btn btn-primary">Registrar</button>

        </div>
    }

